<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Conduit Fill</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="../css/normalize.css">
		<link rel="stylesheet" href="../css/style.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto&family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="topnav">
			<a class="active" href="/">Home</a>
			<a href="tables">Tables</a>
			<a href="#contact">Contact</a>
			<a href="#about">About</a>
		</div>
		<div id="outside-window">
			<div class="section-one">
				<div id="section-one-window">
					<div class="section-one-title">
						<h1>Conduit Fill Calculator</h1>
						<span>This app will help calculate conduit fill percentages and jam probability for multiple conductors per National Electric Code (NEC)</span>
					</div>
					<form id="form" method="POST">
	
						<!-- CONDUIT -->
						<div class="formSection" id="formConduit">
							<h4>Enter your Conduit Information</h4>
							<select class="selections" id="conduitType" name="conduitType">
								<option disabled="true" selected="true">Conduit Type</option>
								<option value="emt">EMT (Electrical Metallic Tubing)</option>
								<option value="ent">ENT (Electrical Nonmetallic Tubing)</option>
								<option value="fmc">FMC (Flexible Metal Conduit)</option>
								<option value="imc">IMC (Intermediate Metal Conduit)</option>
								<option value="lfncb">LFNC-B (Liquidtight Flex Nonmetallic Conduit Type B)</option>
								<option value="lfnca">LFNC-A (Liquidtight Flex Nonmetallic Conduit Type A)</option>
								<option value="lfmc">LFMC (Liquidtight Flex Metal Conduit)</option>
								<option value="rmc">RMC (Rigid Metal Conduit)</option>
								<option value="pvcsch80">PVC Schedule 80</option>
								<option value="pvcsch40">PVC Schedule 40 / HDPE</option>
								<option value="pvctypea">PVC Type A</option>
								<option value="pvctypeb">PVC Type EB</option>
							</select>
							<select class="selections" name="conduitSize" id="conduitSize">
								<option disabled="true" selected="true">Conduit Size</option>
								<!-- <option value="0.5">1/2"</option>
								<option value="0.75">3/4"</option>
								<option value="1">1"</option>
								<option value="1.25">1-1/4"</option>
								<option value="1.5">1-1/2"</option>
								<option value="2">2"</option>
								<option value="2.5">2-1/2"</option>
								<option value="3">3"</option>
								<option value="3.5">3-1/2"</option>
								<option value="4">4"</option>
								<option value="5">5"</option>
								<option value="6">6"</option>
								<option value="8">8"</option> -->
							</select>
							<div class="formResultDiv">
								<p class="labels" id="conduitNominalAreaInLabel">Nominal Conduit Inner Area: </p>
								<p class="results" id="conduitNominalAreaIn">-</p>
							</div>
	
							<div class="formResultDiv">
								<p class="labels" id="conduitEffectiveAreaInLabel">Effective Conduit Inner Area: </p>
								<p class="results" id="conduitEffectiveAreaIn">-</p>
							</div>
						</div>
	
							<!-- <br>
							<br> -->
								<!-- CONDUCTORS -->
						<div id="divToCopy">
							<div class="formSection" id="formConductors">
								<h4>Enter your Conductor Information</h4>
								<select class="selections" name="voltInsShield" id="voltInsShield">
									<option disabled="true" selected="true">Conductor Type</option>
									<option value="cuthhn">CU THHN</option>
									<option value="cuxhhw">CU XHHW</option>
									<option value="cuxhhw2">CU XHHW-2</option>
									<option value="curhhuse">CU RHH-USE</option>
									<option value="cuthwn2">CU THWN-2</option>
									<option value="cu2d4kvxlp">CU 24KV XLP</option>
									<option value="cu2d4kveprlszh">CU 24KV EPR LSZH</option>
									<option value="cu2d4kveprpvc">CU 24KV EPR PVC</option>
									<option value="althhn">AL THHN</option>
									<option value="alxhhw">AL XHHW</option>
									<option value="alrhhuse">AL RHH-USE</option>
									<option value="al5kvmv105100p">AL 5KV MV105 100%</option>
									<option value="al8kvmv105">AL 5KV MV105</option>
									<option value="al5kvmv105133p">AL 5KV MV105 133%</option>
									<option value="al15kvmv105100p">AL 15KV MV105 100%</option>
		
									<!-- These are for Utility Cables -->
									<!-- <option value="600vrhhrhwuse">600V RHH RHW USE (XLP)</option>
									<option value="600vsimpullxhhw">600V SIMpull XHHW (XLP)</option>
									<option value="600vsimpullxhhw">600V SIMpull XHHW (XLP)</option>
									<option value="600vthhnthwn">600V THHN THWN</option>
									<option value="1kvnonshielded">1 kV Non Shielded</option>
									<option value="2.4kvnonshielded">2.4kV Non Shielded</option>
									<option value="5kv115mil">5kV 115 Mil EPR 133% CU Tape</option>
									<option value="15kv175mil">15kV 175 Mil EPR 100% CU Tape</option>
									<option value="15kv220mil">15kV 220 Mil EPR 133% CU Tape</option>
									<option value="25kv320mil">25kV 320 Mil EPR 133% CU Tape</option>
									<option value="28kv280mil">28kV 280 Mil EPR 100% CU Tape</option>
									<option value="35kv345mil">35kV 345 Mil EPR 100% CU Tape</option>
									<option value="35kv420mil">35kV 420 Mil EPR 133% CU Tape</option>
									<option value="2kvxlp">2kV XLP RHH / RHW-2</option> -->
								</select>		
								<select class="selections" name="wireSize" id="wireSize">
									<option disabled="true" selected="true">Wire Size</option>
									<!-- <option value="#14">14 Str</option>
									<option value="#12">12 Str</option>
									<option value="#10">10 Str</option>
									<option value="#8">8</option>
									<option value="#6">6</option>
									<option value="#4">4</option>
									<option value="#2">2</option>
									<option value="#1">1</option>
									<option value="1/0">1/0</option>
									<option value="2/0">2/0</option>
									<option value="3/0">3/0</option>
									<option value="4/0">4/0</option>
									<option value="250">250</option>
									<option value="350">350</option>
									<option value="500">500</option>
									<option value="600">600</option>
									<option value="750">750</option>
									<option value="1000">1000</option>
									<option value="1250">1250</option>
									<option value="1500">1500</option> -->
								</select>
								<input class="selections" type="text" placeholder="No. of Cables" id="numCables" name="numCables">
		
								<div >
									<div class="formResultDiv">
										<p class="labels" id="conductorSingleAreaLabel">Single Conductor Area: </p>
										<p class="results" id="conductorSingleArea">-</p>
									</div>
									<div class="formResultDiv">
										<p class="labels" id="conductorTotalAreaLabel">Total Conductor Area: </p>
										<p class="results" id="conductorTotalArea">-</p>
									</div>
								</div>
							</div>
						</div>

	
						<div>
							<button type="button" onclick="duplicateFormDiv()">+</button>
						</div>
							<!-- <select name="cuOrAl" id="cuOrAl">
								<option disabled="true" selected="true">Cu or Al</option>
								<option value="cu">Copper</option>
								<option value="al">Aluminum</option>
							</select> -->
							<!-- <select name="cableCondCount" id="cableCondCount">
								<option value="1perCnd">1 / C</option>
								<option value="3perCnd">3 / C WG</option>
								<option value="3perCnd">4 / C WG</option>
							</select> -->
	
							<!-- <button type="button" id="myButton" name="button" onclick="calculateArea()">Submit</button>
							<br><br> -->
							<!-- <input type="submit" id="myButton" onclick="calculateArea()" value="Submit"> -->
							<br><br>
							<input type="submit" id="myButton" value="Calculate">	
					</form>
				</div>
			</div>

			<div class="section-two">
				<div id="section-two-outer-window">
					<div id="section-two-inner-window">			
						<div>
							<h3 id="resultConduitFill" class="result-text">Result</h3>
							<h3 id="fillValue" class="result-text">--</h3>
							<h3 id="percent" class="result-text">--</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="/main.js"></script>
	</body>
</html>
